@model Blood_Pressure_Tracker.View_Models.DashboardViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome @Model.ApplicationUser.Name</h1>

@if (Model.ApplicationUser.PressureMeasures.Count == 0)
{
    <h1>No available data</h1>
}
else
{
    <ul>
        @foreach (var pressureMeasure in Model.ApplicationUser.PressureMeasures)
        {
            <li>
                @Html.ActionLink($"{@pressureMeasure.Date.ToString()} : Diastole {@pressureMeasure.Diastole} , Systole {@pressureMeasure.Systole}", "EditPressureMeasure", "PressureMeasure", new {id = pressureMeasure.Id}, null)
            </li>
        }
    </ul>
}

<img src="data:image/png;base64,@System.Convert.ToBase64String(Model.ChartBytes)" alt="" />

<button type="button" onclick="location.href = '@Url.Action("AddPressureMeasure", "Dashboard", Model.ApplicationUser)'">Add</button>
<button type="button" onclick="location.href = '@Url.Action("ShowUserDietPlan", "Dashboard", Model.ApplicationUser)'">Show Diet Plan</button>

