@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid text-center" style="padding: 50px; background-color:#e8175d">
    <h3 class="text-light" style="padding: 30px">Blood Pressure Tracker</h3>
    <img src="~/Resources/blood-pressure-img.jpg" class="rounded-circle" alt=""
         style="padding: 30px; width: 40%" />
    <h5 class="text-light" style="padding: 30px">
        Blood Pressure Tracker let's you monitor your health conditions,
        including plotting your all time measures and recommendation of diet plans to you to follow.
    </h5>
    <a href="../Account/Register" class="btn btn-outline-light btn-lg">Register Now</a>
</div>

<div class="container-fluid text-center" style="padding: 50px">
    <h3 style="padding: 30px">What is your blood pressure!?</h3>
    <div class="row" style="padding: 30px">
        <div class="col-sm-4" style="padding: 30px">
            <h4>High</h4>
            <p>
                <b>Anxiety, stress or strenuous exercise</b> can all cause temporary high blood pressure
                levels in both diabetics and non-diabetics. However, high blood pressure is diagnosed when
                you have several high readings.
            </p>
        </div>
        <div class="col-sm-4" style="padding: 30px">
            <h4>Normal</h4>
            <p>
                Keeping on normal blood pressure can be quite challenging.<br />
                You will have to keep on a:<br />
                <ul>
                    <li><b>Healthy diet plan</b></li>
                    <li><b>Exercise regularly</b></li>
                    <li><b>Keep track of your blood pressure</b></li>
                </ul>
            </p>
        </div>
        <div class="col-sm-4" style="padding: 30px">
            <h4>Low</h4>
            <p>
                Even moderate forms of low blood pressure can cause <b>dizziness, weakness, fainting</b> and 
                a risk of injury from falls. And severely low blood pressure can deprive your body of enough 
                oxygen to carry out its normal functions.
            </p>
        </div>
    </div>
</div>