@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blood Pressure Tracker</h1>
    <p class="lead">Blood Pressure Tracker let's you monitor your <b>health conditions</b>, including <b>plotting</b> your all time measures and <b>recommendation</b> of diet plans to you to follow.</p>
    <p><a href="../Account/Register" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>High Blood Pressure</h2>
        <p>
            <b>Anxiety, stress or strenuous exercise</b> can all cause temporary high blood pressure levels in both diabetics and non-diabetics.<br/> However, high blood pressure is diagnosed when you have several high readings.
</p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Normal Blood Pressure</h2>
        <p>Keeping on normal blood pressure can be quite challenging.<br/>
            You will have to keep on a:<br/>
            <ul>
            <li><b>Healthy diet plan</b></li>
            <li><b>Exercise regularly</b></li>
            <li><b>Keep track of your blood pressure</b></li>
            </ul> 
            </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Low Blood Pressure</h2>
        <p>Even moderate forms of low blood pressure can cause <b>dizziness, weakness, fainting</b> and a risk of injury from falls.
            <br/>
            And severely low blood pressure can deprive your body of enough oxygen to carry out its normal functions. </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
</div>